<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav class="menu">
        <ul>
            <li><a href="{{ url_for('main.inventory') }}" class="active">Inventario</a></li>
            <li><a href="{{ url_for('main.payout') }}">Payout</a></li>
            <li><a href="{{ url_for('main.payout_history') }}">Historial de Payout</a></li>
            <li><a href="{{ url_for('main.profile') }}">Perfil</a></li>
            <li><a href="{{ url_for('main.logout') }}">Cerrar sesión</a></li>
        </ul>
    </nav>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
