<!-- reset_password.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer Contraseña</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <h1>Restablecer tu contraseña</h1>

    <form class="reset-password-form" action="{{ url_for('main.reset_password', token=token) }}" method="POST">
        <h2>Por favor, ingresa tu nueva contraseña</h2>

        <div class="form_input">
            <label for="password">Nueva Contraseña:</label>
            <input type="password" id="password" name="password" required class="input-field">
        </div>

        <div class="form_input">
            <button type="submit">Restablecer contraseña</button>
        </div>
    </form>

    <p><a href="{{ url_for('main.home') }}">Regresar al inicio de sesión</a></p>
</body>
</html>
